/**
 * CSS file for admin section
 */

.thumbnail {
	height:170px;	
}
span.counter {
	margin:0 auto;
	font-size:300%;
	text-align:center;
	display:block;
}

span.str-truncated {
	display:inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align:middle;
	white-space:nowrap;
	max-width:85%;	
}

li.list-group-item span.str-truncated {
	max-width:65%;	
}