/classes/smarty/templates_c/*
!/classes/smarty/templates_c/.gitkeep
/classes/smarty/cache/*
!/classes/smarty/cache/.gitkeep
/system/config.php
/uploads/*
!/uploads/.htaccess
!/uploads/index.html
.project
test.php
